.bordeau{
    text-align: center;
    color: rgb(12, 107, 176);
}
.a{
    height: 3px;
    background-color: #4682b4;
    border: none;
    width: 50%;
  }
.pre{
    font-size: large;
}
.button{
    width: 12%;
    color: white;
    background-color: rgb(43, 92, 165);
}
.table-synth{
    background-attachment: fixed;

}
.e{
    text-align: center;
    font-style: italic;
}
.card-body{
    background-color: rgb(12, 107, 176);
}
.table-button{
    text-align: center;
    
}
.album{
    text-align: center;
    position: center;
    margin:auto;
}
.b{
    text-align: center;
    position: center;
    margin:auto;
}
.card-text{
    color: white;
}
.cy{
    text-align: center;
}
.contact-form-flex{
    text-align: left;
}
#bts-sio{
    text-align: center;
    color: #4682b4;
}
.contact{
    text-align: center;
}
.ct{
    color: #4682b4;
}
.k{
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline white;
}